server {
    listen ${NGINX_PORT};
    server_name  ${DNS_NAME};


    location /content2/sso/ {
        proxy_set_header X-Forwarded-Host $host:$server_port;

        proxy_set_header x-uw-act-as ${ACTAS};

        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://${PROXY_TO_IP}:10080/;
        proxy_redirect http://${PROXY_TO_IP}:10080/ /content2/sso/;
    }


}
